<!DOCTYPE html>
<html>
    <head>
        <title>Guest book</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Simple Guestbook</h1>
        {% for entry in entries %}
            <div>
                <p>{{ entry.getMessage() }}</p>
                <p>Name: {{ entry.getName() }}</p>
                <p>Date: {{ entry.getDateAsString() }}</p>
            </div>
        {% endfor %}
        <form name="addEntryForm" method="post">

            Message:<br>
            <textarea name="message" placeholder="Enter your message"></textarea required><br>

            Name:<br>
            <input type="text" name="name" placeholder="Enter your name" required><br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>